* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Calibri', sans-serif;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p {
  font-size: 18px;
}

main {
  padding-top: 120px;
  padding-bottom: 40px;
  flex: 1;
}